.add-product {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 100%;
  flex-direction: column;
}

.add-product input, .add-product select {
  width: 100%;
  border-radius: 30px;
  outline: none;
  border: 1px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.add-product select {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.add-product .container-foto {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1rem;
  width: 50%;
}

.add-product .upload-foto {
  visibility: hidden;
}

.add-product .img-upload {
  border-radius: 20px;
}
