:root {
  --card-padding: 24px;
  --card-height: 340px;
  --card-skeleton: linear-gradient(lightgrey var(--card-height), transparent 0);
  --avatar-size: 32px;
  --avatar-position: var(--card-padding) var(--card-padding);
  --avatar-skeleton: radial-gradient(
    circle 16px at center,
    white 99%,
    transparent 0
  );
  --title-height: 32px;
  --title-width: 200px;
  --title-position: var(--card-padding) 180px;
  --title-skeleton: linear-gradient(white var(--title-height), transparent 0);
  --desc-line-height: 16px;
  --desc-line-skeleton: linear-gradient(
    white var(--desc-line-height),
    transparent 0
  );
  --desc-line-1-width: 230px;
  --desc-line-1-position: var(--card-padding) 242px;
  --desc-line-2-width: 180px;
  --desc-line-2-position: var(--card-padding) 265px;
  --footer-height: 40px;
  --footer-position: 0 calc(var(--card-height) - var(--footer-height));
  --footer-skeleton: linear-gradient(white var(--footer-height), transparent 0);
  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
}

/*
 * Card Skeleton for Loading
 */
.card-skeleton {
  width: 280px;
  height: var(--card-height);
}

.card-skeleton:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-box-shadow: 0 10px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 45px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(211, 211, 211, 0)), color-stop(50%, rgba(211, 211, 211, 0.8)), to(rgba(211, 211, 211, 0))), var(--title-skeleton), var(--desc-line-skeleton), var(--desc-line-skeleton), var(--avatar-skeleton), var(--footer-skeleton), var(--card-skeleton);
  background-image: linear-gradient(90deg, rgba(211, 211, 211, 0) 0, rgba(211, 211, 211, 0.8) 50%, rgba(211, 211, 211, 0) 100%), var(--title-skeleton), var(--desc-line-skeleton), var(--desc-line-skeleton), var(--avatar-skeleton), var(--footer-skeleton), var(--card-skeleton);
  background-size: var(--blur-size), var(--title-width) var(--title-height), var(--desc-line-1-width) var(--desc-line-height), var(--desc-line-2-width) var(--desc-line-height), var(--avatar-size) var(--avatar-size), 100% var(--footer-height), 100% 100%;
  background-position: -150% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), var(--avatar-position), var(--footer-position), 0 0;
  background-repeat: no-repeat;
  -webkit-animation: loading 1.5s infinite;
          animation: loading 1.5s infinite;
}

@-webkit-keyframes loading {
  to {
    background-position: 350% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), var(--avatar-position), var(--footer-position), 0 0;
  }
}

@keyframes loading {
  to {
    background-position: 350% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), var(--avatar-position), var(--footer-position), 0 0;
  }
}

.fa-star {
  color: gold;
}

.card {
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 11px;
}

@media (max-width: 769px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

.swiper-button-next:after {
  position: relative;
  left: 2px;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

.swiper-button-prev:after {
  position: relative;
  right: 2px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.paginationBttns {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.paginationBttns a {
  padding: 15px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  margin: 8px;
  /* border: 1px solid #184d47; */
  border-radius: 5px;
  cursor: pointer;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
  border: 1px solid black;
}

a:not([href]):not([class]):hover {
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

.paginationBttns a:hover {
  color: white;
  background-color: #94d0cc;
  text-decoration: none;
}

.paginationActive a:not([href]):not([class]) {
  background-color: #f29191;
  text-decoration: none;
  color: white;
  border: 1px solid #f29191;
}

.paginationDisabled a {
  text-decoration: none;
  color: black;
}

.card-product {
  border-radius: 10px;
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  overflow: hidden;
}

.card-product .card-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #a7a6a6;
}

.card-product .form-card {
  display: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.card-product .thumb-img-product {
  width: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.card-product:hover .container-radio,
.card-product:hover .button-beli {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card-product:hover .form-card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(43, 41, 41, 0.5);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-product:hover .thumb-img-product {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-product .container-radio {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-product .container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.card-product .checkmark {
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: #ccc;
}

.card-product .container-radio:hover input ~ .checkmark {
  background-color: #f29191;
  color: white;
}

.card-product .container-radio input:checked ~ .checkmark {
  background-color: #f29191;
  color: white;
}

.card-product .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.card-product .container-radio input:checked ~ .checkmark:after {
  display: block;
}

.card-product .list-size {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-product .list-size .rounded-size {
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.card-product .button-beli {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  display: block;
  font-weight: 600;
  width: 30%;
  margin-top: 20px;
}

.card-product .button-beli .btn {
  color: #eee8e8;
}

.card-product:hover {
  cursor: pointer;
}

.card-product .link {
  text-decoration: none;
  color: black;
}

.card-product .link:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 414px) {
  .card-product .slickSlider {
    width: 85%;
  }
  .card-product .thumb-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-product .slick-prev:before {
    font-size: 25px;
    z-index: 2;
  }
  .card-product .slick-next:before {
    z-index: 2;
    font-size: 25px;
    position: relative;
    right: 5px;
  }
}

.product .card-product {
  width: 16rem;
}

@media (min-width: 1920px) {
  .product .card-product {
    width: 25rem;
  }
}
