.cards {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1483985988355-763728e1935b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  padding: 12rem 0 0;
  max-width: 35ch;
  border-radius: 0.5em;
  overflow: hidden;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.cards .cards-content {
  padding: 1em;
  padding-bottom: 1.5em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(#1f1a1a));
  background: linear-gradient(to right, rgba(255, 0, 0, 0), #1f1a1a);
  -webkit-transform: translateY(65%);
          transform: translateY(65%);
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.cards .cards-content > *:not(.cards-title) {
  opacity: 0;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.cards .cards-body {
  color: white;
  position: relative;
  top: 9px;
}

.cards .cards-title {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.cards .cards-title::after {
  content: "";
  left: calc(1em * -1);
  bottom: -2px;
  width: calc(100% + 1em);
  position: absolute;
  height: 4px;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background-color: #94d0cc;
}

.cards .button {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: white;
  background-color: #94d0cc;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.cards button:hover,
.cards button:focus {
  background-color: white;
}

.cards:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cards:hover .cards-title::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.cards:hover .cards-content {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.cards .cards-content > *:not(.cards-title) {
  opacity: 1;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

.swiper-2 {
  display: none;
}

@media (max-width: 768px) {
  .swiper-1 {
    display: none;
  }
  .swiper-2 {
    display: block;
  }
}
