.fa-star {
  color: gold;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.card {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  overflow: hidden;
}

.card .form-card {
  display: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.card .thumb-img-product {
  width: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.card:hover .container-radio,
.card:hover .button-beli {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card:hover .form-card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(43, 41, 41, 0.5);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card:hover .thumb-img-product {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card .container-radio {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card .container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.card .checkmark {
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: #ccc;
}

.card .container-radio:hover input ~ .checkmark {
  background-color: #f29191;
  color: white;
}

.card .container-radio input:checked ~ .checkmark {
  background-color: #f29191;
  color: white;
}

.card .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.card .container-radio input:checked ~ .checkmark:after {
  display: block;
}

.card .list-size {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .list-size .rounded-size {
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.card .button-beli {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  display: block;
  font-weight: 600;
  width: 30%;
  margin-top: 20px;
}

.card .button-beli .btn {
  color: #eee8e8;
}

.card:hover {
  cursor: pointer;
}

.card .link {
  text-decoration: none;
  color: black;
}

.card .link:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 414px) {
  .card .slickSlider {
    width: 85%;
  }
  .card .thumb-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card .slick-prev:before {
    font-size: 25px;
    z-index: 2;
  }
  .card .slick-next:before {
    z-index: 2;
    font-size: 25px;
    position: relative;
    right: 5px;
  }
}
