.checkout {
  font-family: Vollkorn;
  font-style: normal;
  font-weight: normal;
}

.checkout .button--anthe {
  font-family: bely-display, sans-serif;
  color: #fff;
  background-color: white;
  z-index: -1000;
}

.checkout .button--anthe::before {
  content: "";
  background-color: #5624d0;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  border-radius: 5px;
}

.checkout .button--anthe:hover::before {
  background-color: #5624d0;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.checkout .button--anthe span {
  display: block;
  mix-blend-mode: hard-light;
  color: #fff;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1), -webkit-transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.checkout .content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.checkout .content__item::before {
  color: var(--color-number);
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, ".", decimal-leading-zero);
}

.checkout .button {
  pointer-events: auto;
  cursor: pointer;
  background: #fff;
  z-index: 99999;
  border: none;
  padding: 0.3rem 1.5rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.checkout .button::before,
.checkout .button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkout .button--anthe:hover span {
  -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
}

.checkout .button-beli button {
  color: white;
}

.checkout .button-beli button:hover {
  color: white;
}

.checkout .voucher-form {
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin-left: 10px;
}

.checkout .checkout-form {
  width: 100%;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.checkout .checkout-form .ganti-alamat {
  color: #94d0cc;
  -webkit-transition: hover 0.3s;
  transition: hover 0.3s;
}

.checkout .checkout-form .ganti-alamat:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkout .qty-product span {
  cursor: pointer;
}

.checkout .qty-product .minus,
.checkout .qty-product .plus {
  width: 28px;
  margin: 3px;
  height: 30px;
  background: #94d0cc;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.checkout .qty-product input {
  height: 30px;
  width: 70px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.checkout .checkout-thumbnail {
  background-color: #fff;
  position: relative;
  right: 10px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkout .checkout-thumbnail .rounded-size {
  background-color: #f29191;
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.checkout .checkout-thumbnail .thumb-button-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout .checkout-thumbnail p {
  color: #a7a7a7;
}

.checkout .checkout-thumbnail .hapus-wishlist {
  color: #f50057;
  font-size: 20px;
}

.checkout .checkout-thumbnail .hapus-wishlist:hover {
  color: #b10541;
  cursor: pointer;
}

.checkout .checkout-thumbnail .button-beli {
  border: 0.5px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkout .checkout-thumbnail .button-beli button:hover {
  color: #504c4c;
}

@media (max-width: 768px) {
  .checkout .voucher-form {
    margin-left: 0px;
    width: 10;
  }
  .checkout .checkout-form {
    margin-left: 0px;
  }
  .checkout .checkout-thumbnail {
    position: static;
    right: 0px;
  }
}

@media (max-width: 540px) {
  .checkout .qty-product span {
    cursor: pointer;
  }
  .checkout .qty-product .minus,
  .checkout .qty-product .plus {
    font-size: 11px;
    width: 18px;
    margin: 1px;
    height: 18px;
  }
  .checkout .qty-product input {
    height: 18px;
    font-size: 11px;
    width: 25px;
  }
  .checkout .checkout-thumbnail .rounded-size {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .checkout .checkout-thumbnail .thumb-button-category {
    display: none;
  }
  .checkout .checkout-thumbnail h3,
  .checkout .checkout-thumbnail strong {
    font-size: 12px;
  }
  .checkout .checkout-thumbnail .hapus-wishlist {
    font-size: 12px;
  }
  .checkout .checkout-thumbnail .button-beli button {
    font-size: 11px;
  }
  .checkout .checkout-thumbnail p {
    font-size: 10px;
  }
}

@media (max-width: 376px) {
  .checkout .checkout-thumbnail h3,
  .checkout .checkout-thumbnail strong {
    font-size: 10px;
  }
  .checkout .checkout-thumbnail .hapus-wishlist {
    font-size: 10px;
  }
  .checkout .checkout-thumbnail .button-beli button {
    font-size: 8px;
  }
  .checkout .checkout-thumbnail p {
    font-size: 8px;
  }
}

@media (max-width: 320px) {
  .checkout .checkout-thumbnail .btn-kuantitas {
    display: none;
  }
  .checkout .checkout-thumbnail .kuantitas {
    display: none;
  }
  .checkout .checkout-thumbnail h3,
  .checkout .checkout-thumbnail strong {
    font-size: 8px;
  }
}
