.checkout {
  font-family: Vollkorn;
  font-style: normal;
  font-weight: normal;
}

.checkout .voucher-form {
  background-color: #fff;
  width: 100%;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  padding: 20px;
  margin-left: 10px;
}

.checkout .checkout-form {
  width: 100%;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  margin-left: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.checkout .checkout-form .ganti-alamat {
  color: #94d0cc;
  transition: hover 0.3s;
}

.checkout .checkout-form .ganti-alamat:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkout .checkout-thumbnail {
  background-color: #fff;
  position: relative;
  right: 10px;
  width: 100%;
  border: 0.5px solid #000000;
  box-sizing: border-box;
}

.checkout .checkout-thumbnail .rounded-size {
  background-color: #f29191;
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: flex;
  color: black;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}

.checkout .checkout-thumbnail .thumb-button-category {
  display: flex;
}

.checkout .checkout-thumbnail p {
  color: #a7a7a7;
}

.checkout .checkout-thumbnail .hapus-wishlist:hover {
  text-decoration: line-through black;
  cursor: pointer;
}

.checkout .checkout-thumbnail .button-beli {
  border: 0.5px solid #000000;
  box-sizing: border-box;
}

.checkout .checkout-thumbnail .button-beli button:hover {
  color: #504c4c;
}

@media (max-width: 768px) {
  .checkout .voucher-form {
    margin-left: 0px;
    width: 10;
  }
  .checkout .checkout-form {
    margin-left: 0px;
  }
  .checkout .checkout-thumbnail {
    position: static;
    right: 0px;
  }
}

@media (max-width: 540px) {
  .checkout .checkout-thumbnail .rounded-size {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
  .checkout .checkout-thumbnail .thumb-button-category {
    display: none;
  }
  .checkout .checkout-thumbnail h3,
  .checkout .checkout-thumbnail strong {
    font-size: 12px;
  }
  .checkout .checkout-thumbnail .hapus-wishlist {
    font-size: 12px;
  }
  .checkout .checkout-thumbnail .button-beli button {
    font-size: 11px;
  }
  .checkout .checkout-thumbnail p {
    font-size: 10px;
  }
}

@media (max-width: 376px) {
  .checkout .checkout-thumbnail h3,
  .checkout .checkout-thumbnail strong {
    font-size: 10px;
  }
  .checkout .checkout-thumbnail .hapus-wishlist {
    font-size: 10px;
  }
  .checkout .checkout-thumbnail .button-beli button {
    font-size: 8px;
  }
  .checkout .checkout-thumbnail p {
    font-size: 8px;
  }
}
