.detail-produk {
  background-color: white;
  width: 100%;
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  overflow: hidden;
}

.detail-produk .thumb-other-image img {
  cursor: pointer;
  transition: 0.3s;
}

.detail-produk .thumb-other-image img:hover {
  opacity: 0.5;
}

.detail-produk #lens {
  z-index: 2;
  position: absolute;
  height: 125px;
  width: 125px;
  background-repeat: no-repeat;
  cursor: none;
}

.detail-produk .container-radio {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.detail-produk .container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.detail-produk .checkmark {
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: #ccc;
}

.detail-produk .container-radio:hover input ~ .checkmark {
  background-color: #f29191;
  color: white;
}

.detail-produk .container-radio input:checked ~ .checkmark {
  background-color: #f29191;
  color: white;
}

.detail-produk .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.detail-produk .container-radio input:checked ~ .checkmark:after {
  display: block;
}

.detail-produk .list-size-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-produk .list-size-detail .rounded-size {
  width: 35px;
  height: 35px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.detail-produk .gambar-produk {
  width: 330px;
}

.detail-produk .deskripsi-produk {
  /* background-color: white; */
  width: 670px;
}

.detail-produk .btn-beli,
.detail-produk .btn-wishlist {
  background-color: #94d0cc;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 48%;
}

.detail-produk .btn-beli:hover,
.detail-produk .btn-wishlist:hover {
  background-color: #63a5a1;
}

.detail-produk .thumb-toko {
  background-color: white;
}

.detail-produk .thumb-deskripsi {
  background-color: white;
}

.detail-produk .toko-img {
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 50%;
}

.detail-produk #detail-produk .btn-kuantitas {
  width: 32px;
  height: 32px;
  border: none;
  background-color: #94d0cc;
  color: #fff;
}

.detail-produk #detail-produk .kuantitas {
  width: 64px;
  height: 32px;
  border: none;
  text-align: center;
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .detail-produk h3 {
    font-size: 20px;
  }
}
