.list-footer-nav ul li {
  list-style: none;
  color: #0f7c90;
  font-size: 15px;
}

.nav-footer .col-lg-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-footer-nav ul li:hover {
  color: #074f5c;
  cursor: pointer;
}

.list-footer-nav {
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  border-top: 1px solid #dbd8d8;
  width: 100%;
}

.last-footer {
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .list-footer-nav {
    display: inline;
  }
  .nav-footer .col-lg-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .list-footer-nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .btnBahasa {
    display: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 47px;
    margin-bottom: 20px;
  }
}
