#cbx {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.button--anthe {
  font-family: bely-display, sans-serif;
  color: #fff;
  background-color: white;
  z-index: 99999;
}

.button--anthe::before {
  content: "";
  background-color: #5624d0;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1),
    -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  border-radius: 5px;
}

.button--anthe:hover::before {
  background-color: #5624d0;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.button--anthe span {
  display: block;
  mix-blend-mode: hard-light;
  color: #fff;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1),
    -webkit-transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.content__item::before {
  color: var(--color-number);
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, ".", decimal-leading-zero);
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: #fff;
  z-index: 99999;
  border: none;
  padding: 0.3rem 1.5rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--anthe:hover span {
  transform: translate3d(-10px, 0, 0);
}

.button-beli button {
  color: white;
}

.button-beli button:hover {
  color: white;
}

.wishlist {
  font-family: Vollkorn;
  font-style: normal;
  font-weight: normal;
}

.wishlist .checkout-all {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  align-items: center;
  right: 0;
  z-index: 999999;
  left: 0;
  bottom: 0;
  height: 70px;
}

.wishlist .qty-product span {
  cursor: pointer;
}

.wishlist .qty-product .minus,
.wishlist .qty-product .plus {
  width: 28px;
  margin: 3px;
  height: 30px;
  background: #94d0cc;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.wishlist .qty-product input {
  height: 30px;
  width: 70px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

.wishlist .wishlist-thumbnail {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
}

.wishlist .wishlist-thumbnail .thumb-button-category {
  display: flex;
}

.wishlist .wishlist-thumbnail p {
  color: #a7a7a7;
}

.wishlist .wishlist-thumbnail .hapus-wishlist {
  color: #f50057;
  font-size: 20px;
}

.wishlist .wishlist-thumbnail .hapus-wishlist:hover {
  color: #b10541;
  cursor: pointer;
}

@media (max-width: 768px) {
  .wishlist .wishlist-thumbnail .product-rescription {
    font-size: 10px;
  }
}

@media (max-width: 540px) {
  .wishlist .button--anthe span {
    font-size: 8px;
  }
  .wishlist .qty-product span {
    cursor: pointer;
  }
  .wishlist .qty-product .minus,
  .wishlist .qty-product .plus {
    font-size: 11px;
    width: 18px;
    margin: 1px;
    height: 20px;
  }
  .wishlist .qty-product input {
    height: 20px;
    font-size: 11px;
    width: 35px;
  }
  .wishlist .wishlist-thumbnail .thumb-button-category {
    display: none;
  }
  .wishlist .wishlist-thumbnail h3,
  .wishlist .wishlist-thumbnail strong {
    font-size: 12px;
  }
  .wishlist .wishlist-thumbnail .hapus-wishlist {
    font-size: 12px;
  }
  .wishlist .wishlist-thumbnail .button-beli button {
    font-size: 11px;
  }
  .wishlist .wishlist-thumbnail .product-rescription {
    font-size: 6px;
  }
}

@media (max-width: 376px) {
  .wishlist .wishlist-thumbnail h3,
  .wishlist .wishlist-thumbnail strong {
    font-size: 10px;
  }
  .wishlist .wishlist-thumbnail .hapus-wishlist {
    font-size: 10px;
  }
  .wishlist .wishlist-thumbnail .button-beli button {
    font-size: 8px;
  }
  .wishlist .wishlist-thumbnail p {
    font-size: 8px;
  }
}
