.fa-star {
  color: gold;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}
.card-product {
  border-radius: 10px;
  .card-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(167, 166, 166);
  }
  .form-card {
    display: none;
    transition: all 500ms ease;
  }
  .thumb-img-product {
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
  }

  &:hover .container-radio,
  &:hover .button-beli {
    transform: scale(1);
  }
  &:hover .form-card {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(43, 41, 41, 0.5);
    z-index: 2;

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  &:hover .thumb-img-product {
    transform: scale(1.05);
  }
  /* The container */
  .container-radio {
    transition: transform 500ms ease;
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    width: 35px;
    height: 35px;
    font-size: 12px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: #ccc;
  }

  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark {
    background-color: #f29191;
    color: white;
  }

  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
    background-color: #f29191;
    color: white;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }

  overflow: hidden;

  .list-size {
    margin-top: 50px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    .rounded-size {
      width: 35px;
      height: 35px;
      font-size: 12px;
      display: flex;
      color: black;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
      background-color: #c4c4c4;
    }
  }

  .button-beli {
    transition: transform 500ms ease;
    display: block;
    font-weight: 600;
    width: 30%;
    margin-top: 20px;
  }
  .button-beli {
    .btn {
      color: rgb(238, 232, 232);
    }
    &:hover {
    }
  }

  &:hover {
    cursor: pointer;
  }
  // &:hover .button-beli {
  //   display: block;
  // }

  .link {
    text-decoration: none;
    color: black;
  }
  .link:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

  @media only screen and (max-width: 414px) {
    .slickSlider {
      width: 85%;
    }
    .thumb-card {
      justify-content: center;
    }
    .slick-prev:before {
      font-size: 25px;
      z-index: 2;
    }

    .slick-next:before {
      z-index: 2;
      font-size: 25px;
      position: relative;
      right: 5px;
    }
  }
}
