.edit-profile {
    min-height: 100vh;
    height: 100%;
    padding-left: 5rem;
    padding-right: 5rem;

    .user-tab {
        background-color: white;
        width: 100%;
        border: 1px solid black;
        margin-right: 1rem;
        padding: 2rem;

        .user-info {
            display: flex;

            img {
                width: 4rem;
                height: 4rem;
            }

            .user-name {
                height: 100%;
                width: 100%;
            }
        }

        .user-tab-btn {
            background-color: white;
            border: none;
            width: 100%;
            font-size: 18px;
        }
    }

    .detail-profile-container {
        background-color: white;
        min-height: 80vh;
        width: 100%;
        border: 1px solid black;
        margin-left: 1rem;
        padding: 1rem;


        .profile-pict {
            background-color: grey;
            width: 100%;
            height: 10rem;
            
        }

        .btn-white {
            background-color: white;
            border: 1px solid black;
            width: 100%;
        }

        .bio-form {
            .text-bio {
                width: 100%;
            }
            
        }

        .data-diri {
            min-height: 80vh;
            height: 100%;
        }

        .address-container {
            width: 100%;
            border: 1px solid black;
            padding: 1rem;
            font-size: 12px;
            
            a {
                text-decoration: underline;
                color: black;
            }
        }
    }
}
