.riwayat {
  font-family: Vollkorn;
  font-style: normal;
  font-weight: normal;
  .voucher-form {
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 10px;
  }
  .checkout-form {
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    .ganti-alamat {
      color: #94d0cc;
      transition: hover 0.3s;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .riwayat-thumbnail {
    background-color: #fff;

    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-sizing: border-box;

    .rounded-size {
      background-color: #f29191;
      width: 35px;
      height: 35px;
      font-size: 12px;
      display: flex;
      color: black;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
    }

    .thumb-button-category {
      display: flex;
    }
    p {
      color: #a7a7a7;
    }
    .hapus-wishlist {
      color: #f50057;
      font-size: 20px;
      &:hover {
        color: #b10541;
        cursor: pointer;
      }
    }
    .button-beli {
      border: 0.5px solid #000000;
      box-sizing: border-box;

      button {
        &:hover {
          color: #504c4c;
        }
      }
    }
  }

  @media (max-width: 540px) {
    .riwayat-thumbnail {
      .rounded-size {
        width: 20px;
        height: 20px;
        font-size: 10px;
      }
      .thumb-button-category {
        display: none;
      }
      h3,
      strong {
        font-size: 12px;
      }
      .hapus-wishlist {
        font-size: 12px;
      }
      .button-beli {
        button {
          font-size: 11px;
        }
      }

      p {
        font-size: 10px;
      }
    }
  }
  @media (max-width: 376px) {
    .riwayat-thumbnail {
      h3,
      strong {
        font-size: 10px;
      }
      .hapus-wishlist {
        font-size: 10px;
      }
      .button-beli {
        button {
          font-size: 8px;
        }
      }

      p {
        font-size: 8px;
      }
    }
  }
}
