#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #e4e4e4;
    /* padding: 5%; */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
    .sidebar-bar {
        list-style-type: none
    }
    .nav-link {
        color: #554fc5;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 17px;
    }
    .nav-link:hover {
        color: #1e1b66;
    }
}
.sidebar-desktop{
    height: 100%;
}

