table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    // max-width: 100vw;
    width: 100%;
    overflow: hidden;
    border-collapse: separate;
    border-radius: 1rem;
    // min-width: 100vw;

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #e4e4e4;
        color: #554fc5;
    }
}

.table-entry {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table-pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-name {
    h1 {
        color: #554fc5;
    }
}

.btn-pagination {
    background-color: #554fc5;
    color: #fff;
    border: none;
    // margin-left: 1rem;
    // margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;

    &:disabled {
        background-color: #8a86d3;
    }
}

.btn-kirim {
    background-color: #554fc5;
    color: #fff;
    border: none;
    padding: 0.35rem;
    border-radius: 20px;
    font-size: small;
}

// .btn-hapus {
//     background-color: #f29191;
//     color: #fff;
//     border: none;
//     padding: 0.35rem;
//     border-radius: 20px;
//     font-size: small;
// }

.table-search {
    outline: none;
    border: 2px solid #8a86d3;
    border-radius: 30px;
    padding: 0.5rem 1rem;

    &:focus {
        border: 2px solid #554fc5;
    }
}
